asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==4.2.11
docker==7.1.0
gunicorn==21.2.0
idna==3.13
packaging==26.2
pillow==12.2.0
psutil==7.2.2
psycopg2-binary==2.9.12
python-decouple==3.8
requests==2.33.1
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.6.0
django-prometheus
prometheus-client
